body {
  margin: 0;
  font-family: monospace;
}
#header {
  width: 100%;
  height: 60px;
  background-color: bisque;
  text-align: center;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  margin-bottom: 15px;
}
.button {
  float: right;
  height: 56px;
  width: 100px;
  line-height: 56px;
  border: 2px solid bisque;
  color: white;
}
.button:hover {
  color: #cfcfcf;
  cursor: pointer;
}
.footer {
  width: 100%;
  height: 28px;
  line-height: 28px;
  background-color: bisque;
  text-align: center;
}
.body {
  margin: 8px;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  width: 890px;
}
.main {
  width: 640px;
  position: relative;
}
.side {
  margin-left: 10px;
  width: 230px;
}
.title {
	text-align: center;
	background-color: bisque;
  margin-bottom: 5px;
}
.select {
	width: 100%;
	height: 115px;
}
.thumbnail {
	width: 80px;
	height: 80px;
}
.capture {
	position: absolute;
  top: 545px;
  left: 0;
  right: 0;
  height: 50px;
  background-color: rgba(162, 187, 202, 0.5);
  text-align: center;
  line-height: 50px;
	font-size: 25px;
  display: none;
}
.capture:hover, .captureFile:hover{
	cursor: pointer;
	background-color: rgba(128, 154, 188, 0.5);
}
.camera {
	width: 50px;
	height: 50px;
}
.icon {
  width: 100%;
  margin-bottom: 10px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
}
#hat {
  position: absolute;
  width: 240px;
  height: 180px;
  top: 115px;
  left: 180px;
}
#cigarette {
  position: absolute;
  width: 240px;
  height: 180px;
  top: 315px;
  left: 100px;
}
#cadre {
  position: absolute;
  width: 640px;
  height: 480px;
  top: 115px;
  left: 0px;
}
.removable:hover {
  cursor: pointer;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.6),0 6px 20px 0 rgba(0,0,0,0.39);
}
.captureFile {
  position: absolute;
  left: 0;
  right: 0;
  height: 50px;
  background-color: rgba(162, 187, 202, 0.5);
  text-align: center;
  line-height: 50px;
  top: 1029px;
  font-size: 25px;
  display: none;
}
.montage-div {
  position: relative;
}
#webcam {
  display: none;
}
#camera-not-available {
  width: 100%;
  text-align: center;
  height: 480px;
  background-color: rgba(0,0,0,0.1);
  color: white;
  font-size: 40px;
  line-height: 480px;
  margin-bottom: 3px;
}
@media screen and (max-width: 900px) {
  .main { width: 400px; }
  .capture { top: 365px; } /* 180 */
  #cadre { width: 400px; height: 300px; }
  .body { width: 640px; }
  #cigarette { top: 233px; width: 175px; height: 135px; left: 44px;}
  #hat {top: 115px; width: 145px; height: 115px; left: 115px;}
  #canvas { width: 400px;}
  .captureFile {top: 668px;}
  #camera-not-available {height: 300px; line-height: 160px}
}
@media screen and (max-width: 660px) {
  .body {display: inline; width: 450px;}
  .side {width: 100%; max-width: 400px; margin-right: auto; margin-left: auto;}
  .main {margin-left: auto; margin-right: auto;}
}
