body {
  margin: 0;
}
#header {
  width: 100%;
  height: 80px;
  background-color: bisque;
  text-align: center;
}
.button {
  float: right;
  height: 80px;
  width: 100px;
  line-height: 70px;
}
.button:hover {
  background-color: antiquewhite;
  cursor: pointer;
}
.footer {
  width: 100%;
  height: 28px;
  line-height: 28px;
  background-color: bisque;
  text-align: center;
}
.body {
  margin: 8px;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  width: 890px;
}
.main {
  width: 640px;
  position: relative;
}
.side {
  margin-left: 10px;
  width: 230px;
}
.title {
	text-align: center;
	background-color: bisque;
  margin-bottom: 5px;
}
.select {
	width: 100%;
	height: 115px;
}
.thumbnail {
	width: 80px;
	height: 80px;
}
.capture {
	position: absolute;
  top: 545px;
  left: 0;
  right: 0;
  height: 50px;
  background-color: rgba(162, 187, 202, 0.5);
  text-align: center;
  line-height: 50px;
	font-size: 25px;
  display: none;
}
.capture:hover {
	cursor: pointer;
	background-color: rgba(128, 154, 188, 0.5);
}
.camera {
	width: 50px;
	height: 50px;
}
.icon {
  width: 100%;
}
