body {
  margin: 0;
  background-color: floralwhite;
  font-family: monospace;
}
label {
  font-size: 19px;
}
#login {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 250px;
  height: 300px;
  margin: auto;
  background-color: white;
  padding: 5px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
}
#blue {
  align-content: center;
}
.title {
  text-align: center;
  font-size: 25px;
  background-color: antiquewhite;
  margin-bottom: 10px;
  color: white;
}
input {
  width: 244px;
  height: 25px;
  margin-top: 5px;
  margin-bottom: 5px;
  font-size: 14px;
}
input[type="submit"] {
  height: 40px;
  background-color: bisque;
  border: 2px solid bisque;
  color: white;
  text-align: center;
  margin-right: auto;
  margin-left: auto;
  position: absolute;
  top: 214px;
  left: 3px;
}
input[type="submit"]:hover {
  background-color: white;
  color: black;
  cursor: pointer;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
}
#header {
  width: 100%;
  height: 60px;
  background-color: bisque;
  text-align: center;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  margin-bottom: 15px;
}
.button {
  float: right;
  height: 56px;
  width: 100px;
  line-height: 56px;
  border: 2px solid bisque;
  color: white;
}
.button:hover {
  color: #cfcfcf;
  cursor: pointer;
}
.footer {
  position: absolute;
  bottom: 0px;
  height: 18px;
  width: 100%;
  text-align: center;
  background-color: bisque;
}
