.modal-header {
    padding: 2px 16px;
    background-color: bisque;
    color: white;
}

.modal-body {padding: 2px 16px;}

.modal-footer {padding: 2px 16px;}

.modal-content {
    position: absolute;;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 80%;
    height: 800px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
}

#modal {
  display: none;
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  background-color: rgba(0,0,0, 0.4);
  bottom: 0px;
}

#img-modal {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  max-height: 550px;
  max-width: 680px;
  margin-top: 10px;
}

.close:hover {
  color: black;
}

.close {
  font-size: 24px;
}

#comment {
  height: 155px;
  max-height: 155px;
  max-width: 100%;
  width: 100%;
  font-size: 24px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.button-send {
  width: 80px;
  height: 40px;
  background-color: #4CAF50;
  border: 2px solid #4CAF50;
  color: white;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  line-height: 40px;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
}

.button-send:hover {
  background-color: white;
  color: black;
  cursor: pointer;
}

.disabled:hover {
  cursor: not-allowed;
}

@-webkit-keyframes animatetop {
    from {top: -300px; opacity: 0}
    to {top: 0; opacity: 1}
}

@keyframes animatetop {
    from {top: -300px; opacity: 0}
    to {top: 0; opacity: 1}
}
